:root {
    --main-color: #192032;
    --text-color: #FFC9A8;
    --button-color: #EBD4C6;
    --formal-font: 'Montserrat', sans-serif;
    --style-font: 'Great Vibes', cursive;
    --secondary-font: 'Courgette', cursive;
}

* {
    /* margin: 0px; */
    /* padding: 0px; */
}

#card {
    box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.20);
}

#btnLoc {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.30);
}
