:root {

}

* {
    /* font-family: 'Courier Prime', monospace;
    font-family: 'Dancing Script'; */
    margin: 0px;
    padding: 0px;
}

#container {
    background-image: url('./assets/PP.jpg');
    justify-content: center;
    background-position: center;
    background-size: cover;
    backdrop-filter: grayscale(10);
}

#tittle {
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    font-size: 48px;
}

#gambar {
    border-radius: 50%;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

#wrapper {
    height: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(37, 37, 37, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#Title {
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

}

#text {
    font-family: 'Courier Prime', monospace;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

#button {
    font-family: 'Courier Prime', monospace;
    box-shadow: 0 8px 32px 0 rgba(37, 37, 37, 0.37);

}